$background:#424242;
$init-color:#fefefe;
$h3-color:#efefef;
$a-color:#cecece;
$article-title:#99cc33;
$border-color:#666;

$content-font-family:Arial, Helvetica, 宋体;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {	
	font: 400 16px/1.62 $content-font-family;
	color: $init-color;
	overflow: hidden;
	background-color:$background;	
	overflow-x: hidden;
    overflow-y: auto;
}
@media(max-width:900px){
	.left{
		float: left;
		display: none;	
	}
	.right{
		float: right;
		display: none;	
	}
	pre code{
		font-size:10px;
	}
}
.left{
		float: left;
		width:200px;
}
.right{
		float: right;
		width: 200px;
}
.center{
	max-width: 900px;
	padding:0 20px;
	margin:0 auto;
}

h1 {
	font-size: 26px;
	color: $init-color;
	margin-bottom: 20px;
}

h3 {
    display: block;
	color: $h3-color;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

a {
	color:$a-color;
	text-decoration: underline;
}


@keyframes fade-in {
	0% {opacity: 0} 40% {opacity: 0} 100% {opacity: 1}
}

@-webkit-keyframes fade-in {
	0% {opacity: 0} 40% {opacity: 0} 100% {opacity: 1}
}
@mixin fadeIn($time){
	animation: fade-in;
	animation-duration: $time;
	-webkit-animation: fade-in $time;
}

@mixin headSize($size){
	width:24px;
	height: 24px;
}


/**首页**/
.willerce {
	text-align: center;
	margin: 100px auto auto auto;
	max-width: 500px;
	padding: 0 20px;
	@include fadeIn(1s);
	a {
		color: $a-color;
		text-decoration: underline;
	}
	a:link,a:visited{
		color: $a-color;
		text-decoration: underline;
	}
	.address{
		height: 24px; 
		line-height: 24px;
		margin: 15px 0;
		img{
			vertical-align: bottom; margin-right: 10px;
		}
	}
	h1{
		text-align:center;
	}
}

.avatar {
	margin-bottom: 35px;
	border-radius: 64px;
	width:128px;
	height:128px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.nav a {
	padding: 0 6px 0 6px;
}

/**标题导航栏**/
.mod-head {
	position: fixed;
	top: 0px;
	margin-bottom: 60px;
	background: $background;
	width: 100%;
    height: 64px;
    padding-top: 20px;
	z-index: 10;
}

.mod-head__title {
	display: none
}

.mod-head__nav {
	display: inline-block;
	margin-left: 43px
}

.mod-head__ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-item {
	display: inline-block;
	height: 26px;
	line-height: 26px;
	span {
		padding: 0px 10px;
	}
}

.mod-head__logo {
	border-radius: 1.3rem;
	display: inline-block;
	@include headSize(26px);
	color: $h3-color;
	vertical-align: top;
	img {
		border-radius: 13px;
		@include headSize(26px);
	}
}

/**文章列表**/
.mod-archive {
	@include fadeIn(1s);
	margin-top: 124px;
}

.mod-archive__list{
	margin-left:30px;
	li {
		line-height: 30px;
		margin-bottom: 2px
	}
}

.mod-archive__year {
	color: $init-color;
	font-family: $content-font-family;
}

.mod-archive__time {
	color: $h3-color;
	font-family: $content-font-family;
	font-size: 14px
}


/**页脚**/
.mod-footer {
	margin-top: 50px;
	padding-bottom: 10px;
	color: #888;
	font-size: 13px;
	a {
		color: #888;
	}
}

/*文章标题*/
.mod-post__title {
    margin-bottom: 30px;
	color:$article-title;
}

/*文章内容*/
.mod-post__entry {
	font-size:18px;
	text-align: justify;
	p{
		margin-top: 0;
		margin-bottom: 30px;
		word-break: break-all;
	}
	img{
		max-width:100%;
		height: auto;
		background-color: $h3-color;
	}
	blockquote{
    	padding: 1em;
    	margin: 2em 2em;
    	font-family: Consolas, Monaco, 'Andale Mono', monospace;
   	 	-moz-border-radius: 1em;
    	-webkit-border-radius: 1em;
    	border-radius: 1em;
    	font-family: Consolas, Monaco, 'Andale Mono', monospace;
		border: 2px solid #e0dfcc;
    	overflow: auto;
	}
}
@media(max-width:900px){
	.mod-post__entry{
		font-size:13px;
	}
}
/*用户评论区域*/
.mod-comment{
	@include fadeIn(1s);
	.comments{
		margin: 20px 0;
    	border-left: 3px solid $h3-color;
   	 	text-indent: 20px;
    	white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
	}
}

/*用户评论列表*/
.commentlist{
	padding:0;
	li{
		list-style:none;
	}
}

.comment-body{
	padding: 20px 0px;
    position: relative;
	border-bottom: 1px solid $border-color;
	p {
    	font-size: 16px;
		margin-top:8px;
	}
}

.comment-author{
	color: #cccccc;
    font-size: 12px;
	.avatar{
		width: 24px;
    	height: 24px;
    	border-radius: 50%;
   	 	float: left;
	}
	.fn{
		display: block;
    	float: left;
    	margin-left: 10px;
    	margin-right: 5px;
    	line-height: 24px;
    	font-style: normal;
	}
	.says{
		line-height: 24px;
    	display: block;
    	float: left;
	}
}

.commentmetadata {
    line-height: 24px;
	width:100%;
	position: absolute;
    top: 20px;
    right: 60px;
	a {
    	color: $a-color;
    	font-size: 12px;
		float: right;
		text-decoration:none;
	}
}


.reply {
    position: absolute;
    top: 16px;
    right: 20px;
	a {
    	color: $a-color;
    	font-size: 12px;
		margin-left: 3px;
	}
}


.children{
	padding-top: 20px;
	padding-bottom: 0px;
	li{
		border-left: 3px solid #f1f1f1;
	}
	.comment-body{
		padding-left: 30px;
	}
}


/*评论*/
.comment-respond {
	@include fadeIn(1s);
	p{
		margin:8px 0px;
		textarea{
			width: 80%;
			border-radius: 5px;
		};
		input {
			width: 80%;
			height: 25px;
    		line-height: 20px;
    		font-size: 10px;
			border-radius: 5px;	
		};
		.blank {
			border: 2px solid #990033;
		};
		span {
			color: #336633;
		}
	}
}



.form-submit .submit{
	width: 100%;
	height: 40px;
    border: 0;
    background: #000000;
    padding: 10px 0;
    color: #efefef;
    font-family: Microsoft JhengHei,sans-serif;
    font-size: 16px;
    border-radius: 5px;
}

.clock{
	height: 70px;
    width: 160px;
	background-color: $background;
	margin: 20px 20px;
	display:none;
}

